<div class="col-md-6">
  <h2 class="text-center">Editing</h2>
  <form [formGroup]="editForm" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="first_name">Name:</label>
      <input minlength="2" (keydown.space)="$event.preventDefault();" [ngClass]="{'invalid':editForm.get('first_name').invalid && editForm.get('first_name').touched}" placeholder="name" id="first_name" formControlName="first_name">
      <span
        *ngIf="editForm.get('first_name').invalid && editForm.get('first_name').touched"
        class="helper-text red-text"
      >
        Field cannot be empty
      </span>
    </div>

    <div class="form-control">
      <label for="last_name">Last name:</label>
      <input minlength="2" (keydown.space)="$event.preventDefault();" [ngClass]="{'invalid':editForm.get('last_name').invalid && editForm.get('last_name').touched}" placeholder="surname" id="last_name" formControlName="last_name">
      <span
        *ngIf="editForm.get('last_name').invalid && editForm.get('last_name').touched"
        class="helper-text red-text"
      >
        Field cannot be empty
      </span>
    </div>

    <div class="form-control">
      <label for="email">Email:</label>
      <input
        minlength="2"
        (keydown.space)="$event.preventDefault();"
        [ngClass]="{'invalid':editForm.get('email').invalid && editForm.get('email').touched}"
        placeholder="email"
        type="email"
        id="email"
        formControlName="email"
        [(ngModel)]="emIN"
        (input)="checkEmail(this.contact)"
      >
      <span
        *ngIf="editForm.get('email').invalid && editForm.get('email').touched"
        class="helper-text red-text"
      >
        Enter a correct email address
      </span>
      <span
        *ngIf="!unique && editForm.get('email').touched && editForm.get('email').valid"
        class="helper-text red-text"
      >
        This email address has been already taken
      </span>
      <span
        *ngIf="unique&& editForm.get('email').valid"
        class="helper-text green-text"
      >
        Ok!
      </span>
    </div>

    <div class="form-control">
      <label for="company_name">Company name:</label>
      <input [ngClass]="{'invalid':editForm.get('company_name').invalid && editForm.get('company_name').touched}" placeholder="company name" id="company_name" formControlName="company_name">
      <span
        *ngIf="editForm.get('company_name').invalid && editForm.get('company_name').touched"
        class="helper-text red-text"
      >
        Field cannot be empty
      </span>
    </div>

    <div class="form-control">
      <label for="job_title">Job title:</label>
      <input [ngClass]="{'invalid':editForm.get('job_title').invalid && editForm.get('job_title').touched}" placeholder="job title" id="job_title" formControlName="job_title">
      <span
        *ngIf="editForm.get('job_title').invalid && editForm.get('job_title').touched"
        class="helper-text red-text"
      >
        Field cannot be empty
      </span>
    </div>

    <div class="form-control">
      <label for="age">Age:</label>
      <input (keydown.space)="$event.preventDefault();" [ngClass]="{'invalid':editForm.get('age').invalid && editForm.get('age').touched}" placeholder="age" type="number" min="8" maxlength="3" id="age" formControlName="age">
      <span
        *ngIf="editForm.get('age').invalid && editForm.get('age').touched"
        class="helper-text red-text"
      >
        Field cannot be empty
      </span>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="editForm.invalid||!editForm.dirty||!unique">Edit</button>
    <a class="btn blue" routerLink="/contacts">Назад</a>

    <!--<p>Form value: {{ addForm.value | json }}</p>-->
  </form>
</div>

